<!-- content goes here -->

<form id="tripForm">
	<div class="input-field col s12">
		<div id="map-places-container">
			<div class="form-group">
				<input id="tripName" name="tripName" type="text" placeholder="Trip Name"></input>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="input-field col s12">
			<label for="methodOfTransport">Choose Mode of Transportation:</label>
			<select id="methodOfTransport">
				<option id="car" name="directions_car" value="directions_car" selected>Car</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="input-field col s12">
			<!-- Date input -->
			<p>Date of Arrival at Destination: <input type="text" id="datepicker"></p>
		</div>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
