<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>Be Prepared. TravelSafe.</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!--Import jQuery Library-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--Import materialize.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Theme CSS -->
    {{!-- <link href="/assets/css/grayscale.css" rel="stylesheet"> --}}

</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue">
                <a class="navbar-brand page-scroll" href="/">
                    <span class="light"><img class="shield-icon" src="/assets/img/shield.png">TravelSafe</span>
                </a>
                <ul class="right">
                    <!-- Collect the nav links, forms, and other content for toggling -->

                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>

                        <li>
                            <a class="page-scroll" href="/pricing/">Pricing</a>
                        </li>
                        {{#if isAuthenticated}}
                        <li>
                            <a class="page-scroll" href="/trips/">My Trips</a>
                        </li>
                        <li>
                            <a href="/users/sign-out" class="page-scroll" data-toggle="modal">Logout</a>
                        </li>
                        {{else}}
                        <li>
                            <a class="page-scroll" data-toggle="modal" data-target="#login-modal">Login/Sign Up</a>
                        </li>
                        {{/if}}
                    </ul>

                </ul>
            </div>
        </nav>
    </div>
    {{{ body }}}
    <script src="/assets/js/trip.js"></script>
</body>

</html>